@import '../../../styles/colors';

footer {
  background-color: $primary-800;
  color: $white;
}

.hover-link {
  transition: color 0.3s ease;
  
  &:hover {
    color: $primary-200;
  }
}

.social-link {
  width: 2.5rem;
  height: 2.5rem;
  background-color: $white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  
  &:hover {
    background-color: $gray-100;
  }
  
  mat-icon {
    color: $primary-600;
  }
}